.DS_Store
*pyc
.vscode
__pycache__
.checkpoints
*.egg-info
main/save
save
main/save_freeze
save_freeze
prompts
data
checkpoints
results
backup
LOG
*.wav
scripts/motions/co-tracker
*.mp4

REAMME_Draft.md